@model CCInventoryManager.Models.Order

<h2>Order Items</h2>

<table>
    <thead>
        <tr><td>Name</td><td>Quantity</td><td>Manufacturer</td><td></td></tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderItems)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item.Manufacturer.Name)
        </td>
        <td>
             Edit | Remove
        </td>
    </tr>
    }
    </tbody>
</table>