USE [master]
GO
/****** Object:  Database [CCINV]    Script Date: 04/21/2013 06:02:48 ******/
CREATE DATABASE [CCINV] ON  PRIMARY 
( NAME = N'CCINV', FILENAME = N'D:\MSSQL\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CCINV.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CCINV_log', FILENAME = N'D:\MSSQL\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CCINV_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CCINV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CCINV]
GO
/****** Object:  User [cc]    Script Date: 04/21/2013 06:02:48 ******/
CREATE USER [cc] FOR LOGIN [cc] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email]) VALUES (0, N'Steve', N'Johnson', N'Steve.Johnson@fakemail.com')
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email]) VALUES (2, N'Steve', N'Johnson', N'Steve.Johnson@fakemail.com')
INSERT [dbo].[Customer] ([ID], [FirstName], [LastName], [Email]) VALUES (3, N'Steve', N'Jameson', N'Steve.Jameson@fakemail.com')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[Customer] OFF
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Manufacturer] ON
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (1, N'America''s Cups')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (2, N'Charlie''s Cup Emporium')
INSERT [dbo].[Manufacturer] ([ID], [Name]) VALUES (3, N'Greenville Cups Inc')
SET IDENTITY_INSERT [dbo].[Manufacturer] OFF
/****** Object:  Table [dbo].[Warehouse]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Warehouse](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Shipper]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Shipper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Shipper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Shipper] ON
INSERT [dbo].[Shipper] ([ID], [Name]) VALUES (1, N'UPS')
INSERT [dbo].[Shipper] ([ID], [Name]) VALUES (2, N'FedEx')
INSERT [dbo].[Shipper] ([ID], [Name]) VALUES (3, N'United States Postal Service')
SET IDENTITY_INSERT [dbo].[Shipper] OFF
/****** Object:  Table [dbo].[PaymentInfo]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentInfo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Method] [varchar](50) NULL,
	[CC] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](50) NULL,
	[Zip] [varchar](50) NULL,
	[Customer_ID] [int] NULL,
 CONSTRAINT [PK_PaymentInfo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Item]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Item](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Manufacturer_ID] [int] NULL,
	[Name] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[Cost] [numeric](18, 2) NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Item] ON
INSERT [dbo].[Item] ([ID], [Manufacturer_ID], [Name], [Description], [Cost]) VALUES (4, 1, N'Small Coffee cup', NULL, NULL)
INSERT [dbo].[Item] ([ID], [Manufacturer_ID], [Name], [Description], [Cost]) VALUES (5, 1, N'Small Styrofoam cup', NULL, NULL)
INSERT [dbo].[Item] ([ID], [Manufacturer_ID], [Name], [Description], [Cost]) VALUES (6, 1, N'Small Insulated cup', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Item] OFF
/****** Object:  Table [dbo].[Order]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Shipper_ID] [int] NULL,
	[PaymentInfo_ID] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order] ON
INSERT [dbo].[Order] ([ID], [Customer_ID], [Shipper_ID], [PaymentInfo_ID]) VALUES (3, 0, 1, NULL)
INSERT [dbo].[Order] ([ID], [Customer_ID], [Shipper_ID], [PaymentInfo_ID]) VALUES (4, 7, 3, NULL)
INSERT [dbo].[Order] ([ID], [Customer_ID], [Shipper_ID], [PaymentInfo_ID]) VALUES (5, 25, 2, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
/****** Object:  Table [dbo].[Inventory]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Item_ID] [int] NULL,
	[Quantity] [int] NULL,
	[Warehouse_ID] [int] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 04/21/2013 06:02:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[Item_ID] [int] NULL,
	[Order_ID] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderItems] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[OrderItems] ON
INSERT [dbo].[OrderItems] ([Item_ID], [Order_ID], [ID], [Quantity]) VALUES (56, 6, 2, 7)
INSERT [dbo].[OrderItems] ([Item_ID], [Order_ID], [ID], [Quantity]) VALUES (51, 10, 3, NULL)
INSERT [dbo].[OrderItems] ([Item_ID], [Order_ID], [ID], [Quantity]) VALUES (38, 10, 4, 5)
SET IDENTITY_INSERT [dbo].[OrderItems] OFF
/****** Object:  ForeignKey [FK_PaymentInfo_Customer]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[PaymentInfo]  WITH CHECK ADD  CONSTRAINT [FK_PaymentInfo_Customer] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[Customer] ([ID])
GO
ALTER TABLE [dbo].[PaymentInfo] CHECK CONSTRAINT [FK_PaymentInfo_Customer]
GO
/****** Object:  ForeignKey [FK_Item_Manufacturer]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_Manufacturer] FOREIGN KEY([Manufacturer_ID])
REFERENCES [dbo].[Manufacturer] ([ID])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_Manufacturer]
GO
/****** Object:  ForeignKey [FK_Order_PaymentInfo]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_PaymentInfo] FOREIGN KEY([PaymentInfo_ID])
REFERENCES [dbo].[PaymentInfo] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_PaymentInfo]
GO
/****** Object:  ForeignKey [FK_Order_Shipper]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Shipper] FOREIGN KEY([Shipper_ID])
REFERENCES [dbo].[Shipper] ([ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Shipper]
GO
/****** Object:  ForeignKey [FK_Inventory_Item]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Item] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Item]
GO
/****** Object:  ForeignKey [FK_Inventory_Warehouse]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Warehouse] FOREIGN KEY([Warehouse_ID])
REFERENCES [dbo].[Warehouse] ([ID])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Warehouse]
GO
/****** Object:  ForeignKey [FK_OrderItems_Item]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Item] FOREIGN KEY([Item_ID])
REFERENCES [dbo].[Item] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Item]
GO
/****** Object:  ForeignKey [FK_OrderItems_Order]    Script Date: 04/21/2013 06:02:48 ******/
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Order] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Order] ([ID])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Order]
GO
